---
import Discord from "@icons/Discord.astro";
import Github from "@icons/Github.astro";

const today = new Date();
---

<footer class="m-0 h-60 w-full bg-white flex items-center justify-center flex-col transition-colors ease-in-out duration-300">

	<div class="flex items-center justify-center my-4">
		<a href="https://github.com/JustGritt/Recipe-AI" target="_blank">
			<span class="sr-only">Go to Recipe AI's GitHub repo</span>
			<Github
		</a>
	</div>

	<div class="flex items-center justify-center gap-4">
		<a href="/terms">Terms & Conditions</a>
		<a href="/privacy">Privacy Policy</a>
	</div>

	<p class="text-slate-400 text-sm mt-4">
		&copy; {today.getFullYear()} Recipe AI. All rights reserved.
	</p>

</footer>
