---
const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || pathname.startsWith(href + '/');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}
	class="relative max-h-[40px] inline-flex justify-center items-center my-0 py-2 mx-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-200">
	<slot />
</a>

<style scoped>
	a {
		max-height: 40px;
		height: 100%;
		&.active {
			position: relative;
			color: #60739e;
			&::after {
				content: '';
				position: absolute;
				bottom: 4px;
				width: 70%;
				height: 4px;
				border-radius: 8px;
				background: #60739e;
			}
		}
	}
</style>

