#chat li {
    list-style: none;
    margin: 1rem 0;
}

#chat .message-user {
    position: relative;
    text-align: right;
    background: #60739f;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    width: fit-content;
    max-width: 80%;
    margin-left: auto;
    margin-right: 0.5rem;
    color: white;
}

#chat .message-bot {
    position: relative;
    text-align: left;
    background: #e5e5e5;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    width: fit-content;
    max-width: 80%;
    margin-right: auto;
}

#chat-window-history::-webkit-scrollbar {
    width: 8px;
    height: 90%;
    border-radius: 1rem;
    background: #e9e9e9;
    transition: all 0.3s ease-in-out;
}

#chat-window-history::-webkit-scrollbar-thumb {
    background: #60739f;
    border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
    #chat .message-user {
        position: relative;
        text-align: right;
        background: #1f2937;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border-bottom-right-radius: 0;
        width: fit-content;
        max-width: 80%;
        margin-left: auto;
        margin-right: 0.5rem;
        color: white;
    }

    #chat .message-bot {
        position: relative;
        text-align: left;
        background: #374151;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border-bottom-left-radius: 0;
        width: fit-content;
        max-width: 80%;
        margin-right: auto;
    }

    #chat-window-history::-webkit-scrollbar {
        background: #374151;
    }
    #chat-window-history::-webkit-scrollbar-thumb {
        background: #1f2937;
        border-radius: 1rem;
    }
}

/* Create an animation for loading dots */
.loading-dot {
    width: .5rem;
    height: .5rem;
    background: #60739f;
    border-radius: 50%;
    display: inline-block;

    animation: loading 1.5s infinite;
    animation-delay: 0.1s;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.3s;
}

/* Animation of loading dots */
@keyframes loading {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}