---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Chat from '@components/Chat.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main id="home" class="w-full bg-white dark:bg-gray-800 transition-all duration-300 ease-in-out m-0 max-w-full" >

			<section class="max-w-[70vw] m-auto">

				<h1 class="text-slate-900 dark:text-white mt-4">Hello!</h1>
				<p class="text-slate-900 dark:text-white">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, facere similique itaque modi sed adipisci recusandae asperiores voluptatum excepturi, iste sint fugiat, cum harum esse eos beatae possimus vero temporibus. Ut modi reprehenderit voluptatum officia! Consectetur aliquam corporis sunt necessitatibus unde ex officiis, eius eveniet at reiciendis, dolorum et velit?
				</p>

				<Chat />
			</section>

		</main>
		<Footer />
	</body>
</html>
