---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Chat from '@components/Chat.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} - Register />
		<main class="bg-white dark:bg-gray-900 w-full relative">

			<div id="notification" class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg dark:text-gray-400 dark:bg-gray-800 shadow-lg border border-gray-200 dark:border-gray-700 hidden" role="alert">
				<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-gray-600 dark:text-blue-200">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
					</svg>
					<span class="sr-only">Notification icon</span>
				</div>
				<div class="ml-3 text-sm font-normal">You will receive a confirmation email in a few seconds...</div>
				<button id="notification-close" type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" aria-label="Close">
					<span class="sr-only">Close</span>
					<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
					</svg>
				</button>
			</div>

			<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
				<div class="w-full bg-white rounded-lg md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 shadow-lg border border-gray-200 dark:border-gray-700">
					<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
						<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
							Create a RecipeAI account
						</h1>

						<form id="registration-form" class="space-y-4 md:space-y-6" action="POST">
							<div>
								<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
								<input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john@doe.com" required="">
							</div>
							<div>
								<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
								<input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john@doe.com" required="">
							</div>
							<div>
								<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
								<input type="password" name="password" id="password" placeholder="••••••••" minlength="8" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
							</div>
							<div>
								<label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
								<input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" minlength="8" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
							</div>
							<div class="flex items-start">
								<div class="flex items-center h-5">
									<input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-gray-600 dark:ring-offset-gray-800" required="">
								</div>
								<div class="ml-3 text-sm">
									<label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the
										<a class="font-medium text-blue-600 dark:text-blue-400 hover:underline hover:text-blue-400" href="/terms" target="_blank">
											Terms and Conditions
										</a>
									</label>
								</div>
							</div>
							<button type="submit" class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Create an account</button>

							<p class="text-sm font-light text-gray-500 dark:text-gray-400">
								Already have an account?
								<a href="/login" class="font-medium text-blue-600 hover:underline dark:text-blue-400 hover:text-blue-400">
									Login here
								</a>
							</p>
						</form>
					</div>
				</div>
			</div>

			<Chat />
		</main>
		<Footer />
	</body>
</html>

<script>
	// Get the registration form
	const registrationForm = document.getElementById('registration-form') as HTMLFormElement;

	// Add an event listener to the registration form
	registrationForm.addEventListener('submit', async (e) => {
		// Prevent the default form submission
		e.preventDefault();

		// Check if the passwords match
		const password = (document.getElementById('password') as HTMLInputElement).value;
		const confirmPassword = (document.getElementById('confirm-password') as HTMLInputElement).value;
		if (password !== confirmPassword) {
			alert('Passwords do not match');
			return;
		}

		// Get the form data
		const formData = {
			username: (document.getElementById('username') as HTMLInputElement).value,
			email: (document.getElementById('email') as HTMLInputElement).value,
			password: (document.getElementById('password') as HTMLInputElement).value
		};

		// Send the form data to the API
		const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/register`, {
			method: 'POST',
			body: JSON.stringify(formData),
		});

		// Get the response data
		const responseData = await response.json();
		if (response.ok) {
			// Display the success message
			const notification = document.getElementById('notification') as HTMLDivElement;
			notification.classList.remove('hidden');
			notification.classList.add('flex');

			setTimeout(() => {
				// window.location.href = '/login';
				console.log('Redirecting to login page');
			}, 2000);

		} else {
			alert(responseData.message);
		}
	});

	// Get the notification close button
	const notificationCloseButton = document.getElementById('notification-close') as HTMLButtonElement;
	notificationCloseButton.addEventListener('click', () => {
		const notification = document.getElementById('notification') as HTMLDivElement;
		notification.classList.add('hidden');
	});
</script>
