---
import "@styles/chat.css"
---

<button id="chat-toggle" class="btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
    </svg>
</button>

<section id="chat" data-active="false">
    <header>
        <h2>Recipe Assistant</h2>
    </header>

    <div id="chat-window">
        <ul id="chat-window-history">
            <!-- Fill -->
            <li class="message-bot">
                Hello, I'm your recipe assistant. How can I help you?
            </li>
        </ul>

        <div id="chat-window-input">
            <input type="text" placeholder="Type your message here..." />
            <button id="chat-window-send">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                </svg>
            </button>
        </div>
    </div>

</section>

<style lang="scss" scoped>

    #chat {
        position: fixed;
        bottom: calc(2rem + 60px);
        right: 1rem;
        min-width: 420px;
        width: 33vw;
        border-radius: 1rem;
        background-color: #60739f;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &[data-active="false"] {
            transform: translateY(100%);
            opacity: 0;
            pointer-events: none;
        }

        &[data-active="true"] {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
        }

        &-toggle {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            height: 60px;
            width: 60px;
            border-radius: 100%;
            display: grid;
            place-items: center;
            background-color: #60739f;
            color: white;
            padding: 0.5rem 1rem;
            border: none;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }

        header {
            padding: 1rem 0;
            background-color: #60739f;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            font-weight: bold;
            text-align: center;
            display: grid;
            place-items: center;
            h2 {
                font-size: 1.3rem;
                color: white;
                margin: 0;
            }
        }

        &-window {
            height: calc(80vh - 4rem);
            background: #fff;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-history {
                list-style: none;
                padding: 0;
                margin: 0;
                height: calc(100% - 3.75rem);
                border-radius: 0.5rem;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 8px;
                    height: 90%;
                    border-radius: 1rem;
                    background: #e9e9e9;
                    &-thumb {
                        background: #60739f;
                        border-radius: 1rem;
                    }
                }
            }

            &-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    flex: 1;
                    padding: 0.5rem 0.75rem;
                    border: 1px solid #ccc;
                    border-radius: 0.5rem;
                    margin-right: 1rem;
                    font-size: 1rem;
                }
                button {
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    border: none;
                    background-color: #60739f;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

        }
    }

</style>

<script>
    const chat = document.querySelector('#chat') as HTMLDivElement;
    const chatToggle = document.querySelector('#chat-toggle') as HTMLButtonElement;
    const chatWindow = document.querySelector('#chat-window') as HTMLDivElement;
    const chatWindowHistory = document.querySelector('#chat-window-history') as HTMLUListElement;
    const chatWindowInput = document.querySelector('#chat-window-input') as HTMLDivElement;
    const chatWindowSend = document.querySelector('#chat-window-send') as HTMLButtonElement;
    const chatWindowInputText = document.querySelector('#chat-window-input input') as HTMLInputElement;

    // Create message
    const createMessage = (role: string, content: string) => {
        const message = document.createElement('li');
        message.classList.add(`message-${role}`);
        message.innerText = content;
        return message;
    }

    // Create loading message
    const createLoadingMessage = () => {
        const loadingMessage = document.createElement('li');
        loadingMessage.classList.add('message-bot');
        loadingMessage.innerHTML = `
            <div class="loading">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
            </div>
        `;
        return loadingMessage;
    }

    // Handle send message
    const handleSendMessage = async() => {
        const message = chatWindowInputText.value;
        if (message) {

            // Add message to history
            chatWindowHistory.appendChild(createMessage('user', message));
            chatWindowInputText.value = '';
            chatWindowInputText.setAttribute('disabled', 'true');

            // Create a loading message
            const loadingMessage = createLoadingMessage();
            chatWindowHistory.appendChild(loadingMessage);

            // Handle response
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    loadingMessage.remove();
                    chatWindowInputText.removeAttribute('disabled');
                    resolve(handleResponse().then((response) => {
                        if (response) {
                            chatWindowHistory.appendChild(createMessage('bot', response));
                        } else {
                            reject('I am sorry, I did not understand that.');
                        }
                    }));
                }, 3000);
            });
        }
    }

    // Handle chat response
    const handleResponse = async() => {

        // Get all messages in history
        const messages = chatWindowHistory.querySelectorAll('li') as NodeListOf<HTMLLIElement>;
        const messagesList = [] as any;

        // Loop through messages and add to list
        messages.forEach((message) => {
            messagesList.push({
                role: message.classList.contains('message-user') ? 'user' : 'assistant',
                content: message.innerText
            });
        });

        const response = await fetch(import.meta.env.PUBLIC_API_URL, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${import.meta.env.PUBLIC_OPENAI}`
            },
            body: JSON.stringify({
                model: 'gpt-3.5-turbo',
                messages: [
                    {
                        role: 'system',
                        content: 'The following is a conversation with an AI assistant. The assistant is an expert cook with 15 years of experience and won multiple awards internationally. The assistant is helpful, creative, clever, and very friendly.'
                    },
                    ...messagesList
                ],
                max_tokens: 100,
                stream: false
            })
        });

        const responseMessage = await response.json()
        chatWindowHistory.appendChild(createMessage('bot', responseMessage.choices[0].message.content));

        return;
    }

    // Handle toggle chat
    if(chatToggle && chat) {
        chatToggle.addEventListener('click', () => {
            const active = chat.getAttribute('data-active');
            active === 'true' ? chat.setAttribute('data-active', 'false') : chat.setAttribute('data-active', 'true');
        });
    }

    // Handle send message
    if(chatWindowSend && chatWindowInputText && chatWindowHistory) {
        chatWindowSend.addEventListener('click', () => {
            handleSendMessage();
        });

        chatWindowInputText.addEventListener('keyup', (e) => {
            if (e.key === 'Enter') {
                handleSendMessage();
            }
        });
    }

</script>

