---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Chat from '@components/Chat.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} - Register />
		<main class="bg-white dark:bg-gray-800 w-full min-h-[calc(100vh-310px)]">
            <h1 class="text-center text-slate-900 dark:text-white mt-4">You are now logged off</h1>
			<Chat />
		</main>
		<Footer />
	</body>
</html>

<script>
    localStorage.removeItem('jwt');
    window.location.href = '/login';
</script>