---
import Layout from '@layouts/RecipePost.astro';
import { SITE_TITLE } from '../consts';
---

<Layout
    title="Privacy Policy"
    description="Privacy Policy"
    pubDate={new Date('March 25 2025')}
    heroImage="/blog-placeholder-about.jpg"
>
    <section class="px-4 py-8 space-y-6 text-slate-900">
        <p>
            Your privacy is important to us. It is {SITE_TITLE}'s policy to respect your privacy regarding any information we may collect from you across our website. We only request personal information when it is truly needed to provide you with our services. This information is collected by fair and lawful means, with your knowledge and consent, and you will always be informed why and how it is used.
        </p>

        <p>
            We retain personal data only for as long as necessary to provide you with your requested service. All data we store is protected by commercially acceptable means to prevent loss, theft, or unauthorized access, disclosure, copying, or modification.
        </p>

        <p>
            We do not share any personally identifying information publicly or with third-parties, except when required by law.
        </p>

        <p>
            Our website may contain links to external sites not operated by us. Please note that we have no control over the content or practices of these sites and cannot be held responsible for their respective privacy policies.
        </p>
    </section>
</Layout>